
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  /*background: #f5f5f5;*/
  background-color: black;
  color: #333;
  line-height: 1.6;
}

.header {
  text-align: left;
  display: flex;
  gap: 16px;
  padding: 2rem 1rem;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.profile-pic {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.header h1 {
  font-size: 2.5rem;
  color: #00695c;
}

.header p {
  margin: 0.3rem 0;
}

a {
  color: #00796b;
  text-decoration: none;
}

.about, .projects {
  max-width: 960px;
  margin: 2rem auto;
  padding: 1rem;
}

.about h2, .projects h2 {
  margin-bottom: 1rem;
  color: #004d40;
}
.about p {
  color: white;
}

.cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  background: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

footer {
  text-align: center;
  padding: 1rem;
  background: #ececec;
  margin-top: 3rem;
}